%h1 Listing users

%table
  %thead
    %tr
      %th Username
      %th Email
      %th Last name
      %th First name
      %th Second name
      %th 
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.username
        %td= user.email
        %td= user.last_name
        %td= user.first_name
        %td= user.second_name
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
