%section#tweets
  %ul
    - @tweets.each do |tweet|
      .content
        .stream-item-header
          %li= link_to "@#{tweet.user.screen_name}", 
"https://www.twitter.com/#{tweet.user.screen_name}"
        .js-tweet-text-container
          %p.js-tweet-text
            = tweet.text
            = tweet.media
