%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Start at:
  = @event.start_at
%p
  %b End at:
  = @event.end_at
%p
  %b Description:
  = @event.description
%p
  %b Renew period:
  = @event.renew_period
%p
  %b User:
  = @event.user.username
 
%meta= @tweets = $client.search("##{@event.hashtag_events.map{|he| he.hashtag.name}.join(', # ')}")
%p
  = render 'shared/tweets'
  
= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
