= form_for @hashtag_event do |f|
  - if @hashtag_event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hashtag_event.errors.count, "error")} prohibited this hashtag_event from being saved:"
      %ul
        - @hashtag_event.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :hashtag
    = f.select(:hashtag_id, hashtag_options(f.object.hashtag_id))
  .field
    = f.label :event
    = f.select(:event_id, event_options(f.object.event_id))
  .actions
    = f.submit 'Save'
