%p#notice= notice

%p
  %b Hashtag:
  = @hashtag_event.hashtag.name
%p
  %b Event:
  = @hashtag_event.event.name

= link_to 'Edit', edit_hashtag_event_path(@hashtag_event)
\|
= link_to 'Back', hashtag_events_path
